{% extends 'base.html' %} {% block content %}

<div class="container">
  <img src="{{url_for('static', filename='eye.svg')}}" style="margin-top: -40px;" alt="" />
  <br />
  <form action="/predict" method="post" enctype="multipart/form-data">
    <input
      type="file"
      style="
        background: lightgrey;
        border-radius: 40px;
        padding: 0.5em 1em;
        margin-bottom: 3em;
        margin-top: 0em;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        color: black;
        text-transform: uppercase;
        position: relative;
        z-index: 3;
        outline: none;
      "
      name="signature_data"
    />
    <span style="padding: 0em 2em;"> </span>
    <button
      type="submit"
      style="
        background: #6dffb6;
        padding: 0.5em 1.3em;
        margin-bottom: 7em;
        border-radius: 40px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        color: black;
        text-transform: uppercase;
        position: relative;
        z-index: 3;
        outline: none;
        border-style: none;
      "
    >
      Upload
    </button>
  </form>
</div>

{% endblock %}
