{% extends "base.html" %} {% block content %}

<div class="container">
  <section>
    <img
      src="{{url_for('static', filename='Server.svg')}}"
      alt="server illustration"
      class="server"
    />

    <h1>Online Signature Verification<span class="dot">.</span></h1>
    <p class="subhead">Verify signatures efficiently and effortlessly</p>

    <!-- button -->
    <a href="/file_upload" class="trynow-main">Try Now</a>
    <br />

    <img
      src="{{url_for('static', filename='arrow.svg')}}"
      alt=""
      class="arrow"
    />
  </section>
</div>

<div class="blue-container">
  <div class="container">
    <p class="built">
      Built with:
    </p>

    <ul>
      <li>
        <img src="{{url_for('static', filename='Tensorflow.svg')}}" alt="" />
        <p>Tensorflow</p>
      </li>
      <li>
        <img src="{{url_for('static', filename='Python.svg')}}" alt="" />
        <p>Python</p>
      </li>
      <li>
        <img src="{{url_for('static', filename='Heroku_K.svg')}}" alt="" />
        <p>Heroku</p>
      </li>
    </ul>
  </div>
</div>

<div class="gray-container">
  <div class="container">
    <figure>
      <blockquote>
        "A simple to use signature verification system implemented using cutting
        edge technologies like Deep Learning."
      </blockquote>
      <span class="space"> </span>
      <figcaption>- CEO, Onyx Group</figcaption>
    </figure>
  </div>
</div>

<div class="container">
  <div class="software-stack">
    <ul>
      <li>
        <img src="{{url_for('static', filename='models.svg')}}" alt="" />
      </li>
      <li>
        <img
          src="{{url_for('static', filename='parameters_trained.svg')}}"
          alt=""
        />
      </li>
      <li>
        <img src="{{url_for('static', filename='accuracy.svg')}}" alt="" />
      </li>
    </ul>
    <br />
  </div>
  <div class="secondary-button">
    <span class="space"> </span>
    <a href="/file_upload" class="trynow-secondary">Try Now</a>
  </div>
</div>

{% endblock %}
